@import url("./reset.css");
@import url("utility.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.head {
    background-color: #e9dec3;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e9dec3;
    overflow-x: hidden;}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 100vw;
    background-color: #e9dec3;
    padding: 1rem 5rem 1rem 3rem;
}
.search-container {
    position: relative;
    display: flex;
    gap: 1rem;
    margin-left: auto;
}
.input {
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid ;
    padding: 8px 8px 8px 40px;
    font-size: 20px;
    width: 400px;
}
.input:focus {
    outline: none;
}
.search-icon {
    position: absolute;
    left: 16px;
    top: 10px;
}
.card-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.cuisine-label {
    font-size: 1.2rem;
     cursor: pointer;
}

.card-image-container {
    /* width: 39vw;
    height:39vw; */
    overflow: hidden;
    display: flex;
    gap: 10vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}
.card{
    background-color:#e9dec3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
    overflow: hidden;
}
.filter {
    background-color: #e9dec3;
}
.card-title {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.card-details{
    padding: 0.5rem;
}
    