/* display */

.d-block {
    display: block;
}
.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

/* display flex */
.d-flex {
    display: flex;
}
.d-flex-direction-column {
    flex-direction: column;
}

.place-items-center {
    align-items: center;
    justify-content: center;}

.align-items-center {
    align-items: center;}

.align-items-start {
    align-items: flex-start;}
 
 .align-items-end {
    align-items: flex-end;
}
.align-self-center {
    align-self: center;
}
.align-self-start {
    align-self: flex-start;
}
.align-self-end {
    align-self: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-space-around {
    justify-content: space-around;
}
.justify-content-space-evenly {
    justify-content: space-evenly;
}
.justify-self-center {
    justify-self: center;
} 
.justify-self-space-between {
    justify-self: space-between;
}
.justify-self-space-around {
    justify-self: space-around;
}
.justify-self-space-evenly {
    justify-self: space-evenly;
}
.wrap-items {
    flex-wrap: wrap;
}
.gap-ex-small {
    gap: 4px;
}
.gap-small {
    gap: 8px;
}
.gap-medium {
    gap: 16px;
}
.gap-large {
    gap: 24px;
}
.gap-ex-large {
    gap: 32px;
}

/* display grid */

.d-grid {
    display: grid;
}

/* position */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}

/* border radius */
.br-radius-small {
    border-radius: 4px;
}
.br-radius-medium {
    border-radius: 8px;
}
.br-radius-large {
    border-radius: 16px;
}
.br-radius-ex-large {
    border-radius: 32px;
}
.br-rounded {
    border-radius: 50%;
}

/* button */

.button{
    border:none;
    background-color: transparent;
}

/* heading font */

.heading-1{
    font-size: 3rem;
    line-height: 4rem;
}
.heading-2{
    font-size: 2.5rem;
    line-height: 3.5rem;
}
.heading-3{
    font-size: 1.5rem;
    line-height: 2rem;
}
.heading-4{
    font-size: 1rem;
    line-height: 1.5rem;
}
.heading-5{
    font-size: 0.5rem;
    line-height: 1rem;
}

/* text font size */

.fs-small{
    font-size: 10px;
}
.fs-medium{
    font-size: 20px;
}
.fs-large{
    font-size: 24px;
}
.fs-ex-large{
    font-size: 32px;
}

/* images */
.image-fit-contain {
    width:100%;
    height:100%;
    object-fit: contain;
}
.image-fit-cover {
    width:100%;
    height:100%;
    object-fit: cover;
}
.img-pos-center {
    object-position: center;
}
.img-pos-lf-tp {
    object-position: left top;
}
.img-pos-rg-tp {
    object-position: right top;
}
.img-pos-lf-bm {
    object-position: left bottom;
}
.img-pos-rg-bm {
    object-position: right bottom;
}
.img-pos-ct-tp {
    object-position: center top;
}